@model IEnumerable<String>

@{
    ViewBag.Title = "Edit";
    int ZapisID = ViewBag.ID;
}

<h2>Oceń</h2>
 <div class="alert alert-success">
    <table class="table">
        <tr>
            <th>Ocena</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>

                <td>
                    @using (Html.BeginForm("EditPost", "Zapis"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("Ocena", item)
                        @Html.Hidden("ZapisID", ZapisID)
                        <div class="form-actions no-color">
                            <input type="submit" value="Ok" class="btn btn-default" />
                        </div>
                    }

                </td>
            </tr>
        }

    </table>
</div>