@model IEnumerable<RejestrSzkolen.ViewModels.StatystykiVM>

@{
    Layout=null;
}

<div class="panel panel-default" >
    <div class="panel panel-heading">Wg. daty rejestracji</div>
    
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-calendar"></span>
                    @Html.DisplayFor(modelItem => item.DataRejestracji)
                    <span class="badge">
                        @item.LiczbaStudentow
                    </span>
                </li>
            }
        </ul>
    

</div>
