@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Rejestr szkoleń</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Rejestr Szkoleń</h2>
        <p>
            Rejestr szkoleń to program do rejestracji szkoleń.

        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Statystyki
        </h2>
        <p>
            @Html.Action("Stat")
            @Html.Action("About")
            
        </p>
    </div>
    <div class="col-md-4">
        <h3>Zarejestruj szkolenie, 
        zapisz lub oceń studenta</h3>
        <p>
            Wybierz pozycje z menu na górze aby rozpocząć pracę z aplikacją.
        </p>
        <p>

        </p>
    </div>
  
</div>
