@model RejestrSzkolen.ViewModels.DydaktykVM

@{
    ViewBag.Title = "Dydaktycy";
}

<h2>Dydaktycy</h2>

<div class="alert alert-info">
    <p>
        @Html.ActionLink("Dodaj", "Create")
    </p>


    @Html.Partial("_IndexDydaktycy")
    @Html.Partial("_IndexKursy")
    @*@Html.Partial("_IndexZapisy")*@
</div>